.title {
	font-family: 'Big Shoulders Display', sans-serif;
	font-size: 40px;
	font-weight: 700;
}

.body-Sedan {
	background-color: #e28625;
	height: 442px;
	display: flex;
	flex-direction: column;
	justify-content: start;
	padding: 48px;
}

.body-Suvs {
	background-color: #006971;
	height: 442px;
	display: flex;
	flex-direction: column;
	justify-content: start;
	padding: 48px;
}

.body-Luxury {
	background-color: #004140;
	height: 442px;
	display: flex;
	flex-direction: column;
	justify-content: start;
	padding: 48px;
}
